/* error */
.big,.small{
  color: black;
  display: none;
}
.big p,.small p{
  font-family: 'Amiri', serif;
font-family: 'Castoro Titling', cursive;
font-family: 'Comme', sans-serif;
font-family: 'Dai Banna SIL', serif;
}
                          /* media less than 307*/
@media  (max-width:300px){
  .body1-left,.body1-right,.body2,.body4,.payment-grid,header,footer,.title-text,.body2-grid,.payment-grid,.title-offer,.payment-grid,.slideshow-container,.body2-grid,.head-of-body,main,.b-2,.b-3,.b-4,.body,.social
  {
  display: none;
  }
.big,.small{
  display: inline;
}
.big{
  display: none;
}
.small p{
  font-size: 67px;
}
.small{
  text-align: center;
}
}